

<div color="primary">
  </div>
  <div class="container">
  <div class="row">
    <div class="col-md-6 cub">
                  <div class="content1">
                  <h2>  {{name}}</h2>
                  <span  class="score player"><h4>{{ scores[0] }}</h4></span>
            </div>
          <span > Choisis un coup parmi les trois: </span>
         <div  class="content2">
           <i (click)="select(0)"  [ngClass]="{'selectedStroke':(playerSelected === 0)}" class="fa fa-hand-rock-o fa-3"></i>
           <i (click)="select(1)" [ngClass]="{'selectedStroke':(playerSelected === 1)}"  class="fa fa-hand-paper-o fa-3"></i>
            <i (click)="select(2)" [ngClass]="{'selectedStroke':(playerSelected === 2)}"  class="fa fa-hand-scissors-o fa-3"></i>
           </div>
    </div>
    <div  class="col-md-6 cub">
          <div class="content1">
          <h2>  Ordinateur</h2>
          <span class="score machine"><h4>{{ scores[1] }}</h4></span>
            </div>
            <br><br>
        <div *ngIf="enemySelected !== -1" class="flex-container flex-center" >
           <i *ngIf="enemySelected === 0" class="fa fa-hand-rock-o"></i>
           <i *ngIf="enemySelected === 1"  class="fa fa-hand-paper-o"></i>
            <i *ngIf="enemySelected === 2" class="fa fa-hand-scissors-o"></i>           
           </div>
          </div>
  </div>
 
      <button (click)="exite()" type="button" class="btn btn-warning">Terminer</button>
  
  <div class="flex-container flex-center" *ngIf="loading">
    </div>
  
  </div>
  