.fa-3{
    font-size: 4em;
    margin-right: .29142857em;
    cursor: pointer;
}

.fa-3:hover{
  color: brown;
}

.row{
    border: 1px solid black;
    
}

.cub{
     padding: 5%;
}



p {
    font-family: Lato;
  }
  
  .content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
  }
  .flex-container{
    display:flex;
    width:100%;
  }
  
  .flex-center{
    align-items: center;
    justify-content: center;
  }
  
  .content1{
    
    display:grid;
    grid-template-columns: 2fr 1fr;
  }
  
  .score{
    border-radius: 100%;
    height: 60px;
    width: 60px;
    margin-top: .5em;
    margin-left: 6em;
    font-size: 1.5em;
    text-align: center;
    background-color: #c52f2fe0;
    padding: 10px;
    color: white;
    padding-top: 13px;
    }


  .me{
    animation-name: example;
    animation-duration: 1.5s;
  }
   
  /* Standard syntax */
  @keyframes example {
    from {background-color: #c52f2fe0;}
    to {background-color:  #32CD32;}
  }
  .content2{
    padding-top: 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  h4{
    font-weight: bold;
  }
  .fa{
    cursor:pointer;
    font-size:5em;
  }
  
  .selectedStroke{
    color: background;
  }

  .btn-warning{
      margin-top: 2%;
  }

  .winner{
      color: forestgreen;
  }

  .loser{
    color: red;
}

.col-md-6{
    border-left: 1px solid black;
    border-top: 1px solid black;
}