<div class="container">
<div class="row">
  <form>
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control"  name="name" id="name" [(ngModel)]="model.name"  placeholder="Pseudo">
    </div>
    <p [hidden]="!hideElement" class="alert alert-danger">Veuillez saisir un nom</p>
    <button type="submit" (click)="createUser()" class="btn btn-primary">Start</button>
  </form>
</div>

<h3 class="title">Classements</h3>
<table class="table">
    <thead>
      <tr>
        <th>Classements</th>
        <th scope="col">Nom</th>
        <th scope="col">Gagné </th>
        <th scope="col">Perdu</th>
        <th scope="col">Pourcentage gagné</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let player of getPlayers; let i = index">
        <td>{{i+1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.win}}</td>
        <td>{{player.los}}</td>
        <td>{{isNaN(player.por) ? '0' : player.por}}  %</td>
      </tr>
    </tbody>
  </table>
</div>



